<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @cat.breed %>
</p>

# edit_cat_path is a method provided by a method call in config/routes.rb
<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>
